.container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.container label {
    font-size: 20px;
    margin: 10px;
}

.container input {
    padding: 5px;
}

.container button {
    margin-top: 20px;
}

.list li{
    margin: 10px;
}

.list li span{
    margin: 10px;
}